<br>
<div class="container">
  <h1 class="tituloP"><b>{{getTitle()}}</b></h1>
  <form action="">
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Ingresa el operando A" [(ngModel)]="a" name="a" />
    </div>
    <br>
    <div class="form-group">
      <input type="number" class="form-control" placeholder="Ingresa el operando B" [(ngModel)]="b" name="b" />
    </div>
    <br>
    <div class="botones">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="submit" class="btn btn-primary" (click)="getSuma()">Sumar</button>
        &nbsp;
        <button type="submit" class="btn btn-primary" (click)="getResta()">Restar</button>
        &nbsp;
        <button type="submit" class="btn btn-primary" (click)="getMultiplicacion()">multiplicaci&oacute;n</button>
        &nbsp;
        <button type="submit" class="btn btn-primary" (click)="getDivision()">divisi&oacute;n</button>
      </div>
    </div>
  </form>
  <br><br><br><br><br>
  <h2 class="tituloS">resultado</h2>
  <p class="resultado">{{getResultado()}}</p>
</div>